#content{
    max-width : 1600px;
    margin: auto 0;
    text-align: center;   
}
header{
    text-align: start;
}
#background{
    background-color: #d9c2a3;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
} 
#hero-box img{
    max-width: 1600px;
}
   
#background {
    height: 725px;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
}
footer, .msg{
    background-color: aquamarine;
}
footer p {
    text-align: start;
    font-size: 1.2em;
}  
 a{
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}   